.git
.gitignore
*.vsix
src/**
**/*.ts
**/*.map
jest.config.js
tsconfig.json
node_modules/codeloom/src/**
node_modules/codeloom/tests/**
node_modules/codeloom/node_modules/**
node_modules/codeloom/examples/**
node_modules/codeloom/.git/**
node_modules/codeloom/tsconfig.json
node_modules/codeloom/PROJECT-CONTEXT.md
